.container {
  position: relative;
  width: 90vw;
  max-width: 600px;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #d4d4d4;
  padding: 1rem;
}
.my-form {
  margin-top: 1rem;
}
.primary-btn {
  border: none;
  padding: 0.3rem 0.8rem;
  background-color: #d56742;
  color: #d4d4d4;
  border-radius: 3px;
  cursor: pointer;
}
input {
  padding: 0.3rem 0.8rem;
  outline: none;
  border-radius: 3px;
  border: 1px solid #d56742;
}
.people {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.person {
  display: flex;
  padding: 0.2rem 2rem;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: aliceblue;
  border-radius: 4px;
}
.person p {
  margin-right: 3rem;
}
.delete-btn {
  padding: 0.3rem 0.5rem;
  border: none;
  background-color: #d56742;
  color: #fff;
  border-radius: 4px;
  transition: all 0.3s linear;
}
.delete-btn:hover {
  background-color: red;
  color: black;
}
.modal-message {
  text-align: center;
  color: #d56742;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #d56742;
  padding: 0.2rem 1rem;
}
